body {
    background: rgb(161, 0, 0)
}

#banner {
    width= 100%
}

h1{
    color: rgb(255, 255, 255); text-align:center
}

p {
        text-align:center; color: rgb(255, 255, 255)
}

em strong {
 color: rgb(255, 217, 1)
}

